/* BASIC STYLES HERE */


@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

.hero {
  height: 100vh;
}

.my-image {
  border-radius: 50%;
  height: 60vh;
  width: 40vh;
}

.codeworks {
  height: 20vh;
  width: 20vh;
}

.knowledge-barrier {
  border-bottom: solid;
}

.caro {
  height: 30vh;
}

.hero-font {
  font-size: 1.5em;
  font-family: 'Merriweather', serif;
}

.hero-image {
  height: 10vh;
  width: 10vh;
}