/* BASIC STYLES HERE */
.hero {
  height: 100vh;
}

.my-image {
  border-radius: 50%;
  height: 60vh;
  width: 50vh;
}

.codeworks {
  height: 20vh;
  width: 20vh;
}

.knowledge-barrier {
  border-bottom: solid;
}

.caro {
  height: 30vh;
}